<%- include('../partials/header.ejs')%>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 mt-5">
      <table class="table table-dark table-striped">
        <thead>
          <tr class="text-warning">
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Subject</th>
            <th scope="col">Message</th>
          </tr>
        </thead>
        <tbody>
          <% var i=1;%> <% data.forEach((item)=>{%>
          <tr>
            <th scope="row" class="text-success"><%= i++%></th>
            <td><%= item.name %></td>
            <td>
              <a
                href="mailto:<%= item.email %>"
                target="_blank"
                class="text-success"
                ><%= item.email %></a
              >
            </td>
            <td><%= item.subject %></td>
            <td><%= item.message %></td>
          </tr>
          <%}) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<%- include('../partials/footer.ejs')%>
